<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href="/stylesheets/bootstrap.min.css">
  </head>
  <body>

  	    <h1><%= title %></h1>

    <header class="header">
      <nav class="nav">
        <ul>
          <li><a href="/liste">Liste de Raison</a></li>
          <li><a href="/liste-vehicule">Liste de véhicule</a></li>
          <li><a href="/update">Editer</a></li>
          <li><a href="/entite">Créer une entité</a></li>
          <li><a href="/vehicule">Créer un véhicule</a></li>
          <li><a href="/individu">Créer un individu</a></li>
          <li><a href="/affecteVehicule">Affecter un véhicule</a></li>
          <li><a href="/affecteEntite">Affecter une entité</a></li>
        </ul>
      </nav>
     </header> 