<%  include includes/header %> 

   <main class="container">
   	<section class="row">
   		<div class="col-12">
   			<h2 class="text-center">Ajouter une raison</h2>
   		</div>
   		<div class="card col-12">
   			<form action="/addRaison" method="POST" class="form">
   				<label for="raison">Saisir un objet de déplacement : </label>
   				<input type="text" name="raison" class="form-control" id="raison">
   				<input type="submit" class="btn btn-primary">
   			</form>
   		</div>
   	</section>
   </main>
  </body>
</html>