<%  include includes/header %> 

<main class="container">
	<section class="row">
		<form action="/addEntite" method="POST" class="col-12">
			<label for="type">Type d'entité</label>
			<input type="text" id="type" name="type" class="form-control">
			<label for="nom">Nom de l'entité</label>
			<input type="text" id="nom" name="nom" class="form-control">

			<input type="submit" class="btn btn-primary" value="Ajouter">

			
		</form>
	</section>
</main>